:root{ --hero-font-color: #9B3D4A;
--font-style-handwritten:"Homemade Apple", cursive;
--font-style-professional: "Source Serif 4", serif;
   }
body{width: 100%;
background-color: #F3F1EC;}

.content{ max-width: 1000px;
display: block;
margin: 0 auto;
border-radius: 10px;}

.hero{ margin-top: 100px;
    padding-bottom: 0;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

.custom-bg {  
    background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/158/820/original/custom-background.jpg?1740689362);
    background-size: cover; 
    background-position: center;
    padding: 40px 80px 0 80px;
}
h1,h2,h3{ text-align: center;
    color: var(--hero-font-color);
}
h1{ font-size: 64px;
font-weight: bold;
font-family: var(--font-style-professional);}
h2{font-family: var(--font-style-handwritten);
font-size: 44px;}

